/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
  padding-top: 12vh;
}
html,
body {
  font-family: 'Ubuntu', sans-serif;
  color: #5E6164;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: 'Russo One', sans-serif;
  color: #23293B;
}
h2 {
  font-size: 3.2rem;
}
h3 {
  font-size: 2.8rem;
}
p {
  font-size: 1.6rem;
  line-height: 1.4;
}
.container {
  max-width: 80rem;
  width: 100%;
  margin: 0 auto;
}
nav {
  position: fixed;
  top: 0;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  width: 100%;
  height: 12vh;
  background-color: #f4f4f4;
  align-items: center;
}
nav .nav-container {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  max-width: 80rem;
  width: 100%;
  margin: 0 auto;
  padding-bottom: 1vh;
}
nav .nav-container .nav-logo {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
  width: 100%;
  text-align: center;
}
nav .nav-container .nav-logo h1 {
  font-size: 3.6rem;
  padding: 1vh 0;
}
nav .nav-container .nav-links {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  width: 100%;
  text-align: center;
  padding: 1vh 10%;
}
@media (max-width: 500px) {
  nav .nav-container .nav-links {
    padding: 1vh 0;
    width: 100%;
  }
}
nav .nav-container .nav-links a {
  text-decoration: none;
  font-size: 1.6rem;
  width: 15%;
  color: black;
}
@media (max-width: 500px) {
  nav .nav-container .nav-links a {
    width: 19%;
  }
}
footer {
  color: #22283B;
  background: #f4f4f4;
  padding: 20px 0;
  border: 1px double #e0e0e0;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.home .sign-in {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  height: 50vh;
  padding: 2vh 5%;
  width: 50%;
  border-radius: 20px;
  background-color: #dee2e6;
  margin-bottom: 20vh;
}
.home .sign-in label {
  font-size: 2.6rem;
}
.home .sign-in input {
  height: 5vh;
  border: none;
  border-radius: 5px;
}
.home .sign-in button {
  background-color: black;
  width: 100%;
  color: white;
  font-size: 1.8rem;
  text-align: center;
  border-radius: 3px;
  height: 4vh;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 2vh 0;
}
.home .sign-in button:hover {
  background-color: #a5a5a5;
  color: black;
}
@media (max-width: 500px) {
  .home .sign-in {
    width: 100%;
  }
}
.home .intro img {
  border-radius: 10px;
}
.home .intro h2 {
  padding: 15px;
}
.home .intro p {
  padding: 0 15px;
}
.home .space-images {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}
.home .space-images img {
  width: 28%;
  margin: 20px 2.5%;
  border-radius: 20px;
  height: 100%;
}
@media (max-width: 500px) {
  .home .space-images img {
    width: 100%;
    margin: 2vh 5%;
    border-radius: 10px;
  }
}
@media (max-width: 500px) {
  .home .space-images .sky,
  .home .space-images .launch {
    display: none;
  }
}
.home .visit-planets {
  padding: 15px;
}
.home .visit-planets h3 {
  margin-top: 11px;
}
.home .visit-planets p {
  margin-top: 13px;
}
@media (max-width: 500px) {
  .home .visit-planets {
    padding: 0 15px;
  }
}
.home .walk {
  margin-top: 60px;
  border-top: 1px solid #dee2e6;
  padding: 50px 60px;
  display: flex;
  justify-content: center;
}
@media (max-width: 500px) {
  .home .walk {
    flex-direction: column-reverse;
    padding: 2vh 5%;
    margin-top: 4vh;
  }
}
.home .walk .walk-text {
  width: 50%;
}
.home .walk .walk-text h3 {
  margin-bottom: 10px;
}
.home .walk .walk-text p {
  margin-bottom: 26px;
}
.home .walk .walk-text .btn {
  background-color: black;
  width: 30%;
  color: white;
  font-size: 1.8rem;
  text-align: center;
  border-radius: 3px;
  height: 4vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.home .walk .walk-text .btn:hover {
  background-color: #a5a5a5;
  color: black;
}
@media (max-width: 500px) {
  .home .walk .walk-text .btn {
    width: 100%;
    height: 8vh;
  }
}
@media (max-width: 500px) {
  .home .walk .walk-text {
    width: 100%;
  }
}
.home .walk .walk-img {
  width: 46%;
  margin-left: 4%;
}
@media (max-width: 500px) {
  .home .walk .walk-img {
    width: 100%;
    margin: 2vh 0;
  }
}
.home .walk .walk-img img {
  width: 100%;
  height: auto;
  border-radius: 10px;
}
