// Navigation code here
nav {
    position:fixed;
    top: 0;
    .flex();
    width: 100%;
    height: @nav-body;
    background-color: #f4f4f4;
    align-items: center;


    .nav-container {
        .flex();
        max-width: 80rem;
        width: 100%;
        margin: 0 auto;
        padding-bottom: 1vh;


        .nav-logo{
            .flex();
            align-items: center;
            width:100%;
            text-align: center;

            h1 {
                font-size: 3.6rem;
                padding: 1vh 0;

            }//end of h1

        }//end of nav-log
        .nav-links{
            .flex();
            justify-content: center;
            align-items: center;
            flex-direction: row;
            width:100%;
            text-align: center;
            padding: 1vh 10%;

            

            a{
                text-decoration: none;
                font-size: 1.6rem;
                width: 15%;
                color: black;
                
            }//end a 

        }//end nav-links
    } //end nav container
}//end nav